[user]
	email = Mac.Deluca@quartech.com
	name = Mac Deluca
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
[pull]
	default = current
	rebase = false
[rerere]
	enabled = true
[credential]
	helper = !/opt/homebrew/bin/gh auth git-credential
[format]
	signoff = true
[commit]
	signoff = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
